/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* My styling */

.app {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
}

.app h1 {
  font-size: 48px;
  font-weight: 800;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.save-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-section {
  display: flex;
  justify-content: center;
}

.flashcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 2px grey;
  border-radius: 2rem;
  padding: 3%;
  margin: 0.5%;
  width: 400px; 
  height: 400px;
  background-color: rgba(243, 142, 47, 0.851);
}

.flashcard-correct {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 2px grey;
  border-radius: 2rem;
  padding: 3%;
  margin: 0.5%;
  width: 400px; 
  height: 400px;
  background-color: green;
}

.explain-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 2px 2px grey;
  padding: 3%;
  margin: 0.5%;
  width: 90%;
  height: 200px;
  background-color: rgba(243, 142, 47, 0.851);
}
   
#character {
  font-size: 40px; 
  margin: 5%;
}

.flashcard > p {
  padding: 5%;
  font-size: 20px;
}

.hero {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./hero.jpg');
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255);
}

.explain {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px grey;
  border-radius: 1rem;
  background-color: rgba(243, 142, 47, 0.851);
  width: 300px;
}

form input {
  padding: 10px;
  margin: 10px;
  border-radius: 0.5rem;
  border-style: none;
}

form label {
  padding: 10px;
  margin: 5px;
}

form h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin: 5px;
}

h2 {
  font-size: 20px;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
  width: 100%;
}

button {
  border-radius:15px;
  padding: 10px;
  border-style: none;
  background-color: rgb(240, 225, 215);
	display:inline-block;
}

.tone-image {
  width: 100px;
  height: 100px;
}

nav {
  height: 45px;
  background-color: rgba(243, 142, 47, 0.75);
  display: flex;
  padding: 5px;
}

nav button {
  margin: 2px;
}

.button-box {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

#definition {
  width: 100%;
  display: flex;
  justify-content: center;
}

#record {
  height: 35px;
  width: 35px;
}

#record-button {
  padding: 4px;
}